html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

img{
	max-width: 100%;
}

.wrapper{
	max-width: 1440px;
	min-width: 645px;
	margin: 0 auto;
	/* border: 1px solid red; */
	background-image: linear-gradient(180deg, rgba(53, 66, 103, 0.00) 0%, #151824 100%), url("image/povar_1.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 1440px 962px;
}

.wrapper header{
	max-width: 1060px;
	margin: 0px auto;
	padding-top: 56px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-shrink: 0;
}


.wrapper .navBar ul{
	display: flex;
	flex-direction: row;
}

.wrapper .navBar li{
	margin-left: 82px;
}

.wrapper .navBar li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.wrapper .headerAbout{
	margin-top: 176px;
	margin-left: 191px;
	max-width: 1262px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

}

.wrapper .headerAbout h1{
	max-width: 619px;
	font-size: 50px;
	color: white;
	line-height: 65px;
	margin-bottom: 22px;
}

.wrapper .headerAbout p{
	max-width: 546px;
	color: #FFF;
	font-size: 20px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 59px;
}



.wrapper .SearchForm{
	margin-left: 191px;
	margin-bottom: 153px;
	max-width: 1262px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}


.wrapper .Card{
	margin-left: 89px;
	margin-right: 89px;
	margin-bottom: 131px;
	max-width: 1262px;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
}

.wrapper .Card h2{
	padding-left: 99px;
	padding-top: 93px;
	padding-bottom: 120px;
	color: #102746;
	font-size: 35px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.wrapper .Card .LearnMoreBlockWraper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 112px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock{
	max-width: 317px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock img{
	margin-bottom: 37px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock h3{
	color: #000;
	font-size: 18px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 26px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock p{
	color: #000;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 39px;
}

.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock a{
	text-decoration: none;
	background: url("image/Shape.svg");
	background-repeat: no-repeat;
	background-size: 33px 8px;
	background-position: 185px 6px;
	color: #006DFE;
	font-size: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	padding-right: 59px;
}

#h2WithUnderLine {
	color: #102746;
	font-size: 35px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: url("image/Line2.svg");
	background-repeat: no-repeat;
	background-position: 0px 49px;
	padding-bottom: 10px;
}


.ImageBlock{
	position: relative;
	box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
	margin: 0 5px;
}

.ImageBlock p{
	position: absolute;
	bottom: 27px;
	left: 29px;
	color: #FFF;
	font-size: 50px;
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	z-index: 1;
}
.ImageBlock:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: rgba(21, 24, 36, 0.40);
}

.ImageBlock img{
	width: 100%;
	height: 100%;
}

.wrapper .PrefectureSection{
	margin-left: 89px;
	margin-right: 89px;
	margin-bottom: 107px;
	max-width: 1262px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}	

.wrapper .TopPlaceToVisit{
	margin-left: 89px;
	margin-right: 89px;
	max-width: 1262px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}	

.wrapper .TopPlaceToVisit h2{
	color: #102746;
	font-size: 35px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: url("../image/Line\ 2.svg");
	background-repeat: no-repeat;
	background-position: 0px 49px;
	padding-bottom: 10px;
	margin-bottom: 62px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 144px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 391px;
	margin-bottom: 58px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock{
	position: relative;
	margin-bottom: 0px;
	width: 386px;
	height: 377px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock .TopPlaceImageBlockDescription{
	position: absolute;
	width: inherit;
	bottom: 65px;
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(21, 24, 36, 0.60);
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock .TopPlaceImageBlockDescription p{
	display: block;
	width: fit-content;
	margin-left: 25px;
	margin-top: 16px;
	color: #FFF;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock .TopPlaceImageBlockDescription .SocialElement{
	margin-right: 25px;
	display: flex;
	flex-direction: row;
}

#SocialLike p{
	display: flex;
	align-items: center;
	color: #FFF;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-left: 0px;
}

#SocialLike p img{
	margin-left: 4px;
}

#SocialComment p{
	display: flex;
	align-items: center;
	color: #FFF;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-left: 14px;
}

#SocialComment img{
	margin-left: 9px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem p{
	color: #102746;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 31px;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem a{
	width: 118px;
	height: 42px;
	text-align: center;
	background-color: #006DFE;
	text-decoration: none;
}

.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem a p{
	color: #FFF;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 12px;
}



.wrapper footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #0E1D28;
	height: 300px;
}

.wrapper footer img{
	align-self: center;
	margin-left: 194px;
}

.wrapper footer .footerMenuContainer{
	align-self: center;
	display: flex;
	flex-direction: row;
	margin-right: 27.5px;
	flex-wrap: nowrap;
}

.wrapper footer .footerMenuContainer .footerMenuContainerOneColumn{
	padding-right: 139.5px;
}

.wrapper footer .footerMenuContainer .footerMenuContainerOneColumn h4{
	color: #FFF;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.wrapper footer .footerMenuContainer .footerMenuContainerOneColumn a{
	text-decoration: none;
	display: block;
	color: #FFF;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}


@media screen and (max-width: 1350px) {
	
	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer{
		justify-content: space-around;
	}
}


@media screen and (max-width: 1140px) {
	.wrapper header {
		max-width: 962px;
	}
	.wrapper .headerAbout {
		margin-left: 89px;
		margin-top: 60px;
	}

	.wrapper .headerAbout h1{
		max-width: inherit;
	}

	.wrapper .SearchForm {
		max-width: 962px;
		margin-left: 89px;
		margin-bottom: 60px;
	}

	.wrapper .Card{
		max-width: inherit;
		margin-bottom: 60px;
	}

	.wrapper .Card h2{
		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 60px;
	}

	.wrapper .Card .LearnMoreBlockWraper{
		padding-bottom: 60px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock{
		max-width: 250px;
	}
}

@media screen and (max-width: 1100px) {

	.ImageBlock p{
		font-size: 35px;
	}

	.wrapper footer{
		flex-direction: column;
		justify-content: center;
	}

	.wrapper footer img{
		margin-left: 0px;
		margin-bottom: 25px;
	}

	.wrapper footer .footerMenuContainer{
		margin-right: 0px;
	}

	.wrapper footer .footerMenuContainer .footerMenuContainerOneColumn:last-child{
		padding-right: 0px;
	}

}

@media screen and (max-width: 990px) {
	.wrapper header{
		max-width: max-content;
	}

	.wrapper .SearchForm{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	.wrapper .SearchForm .QLike:nth-child(2){
		margin-left: 0px;
	}

	.wrapper .SearchForm .QLike{
		margin-left: 0px;
		margin-bottom: 20px;
	}

	.wrapper .SearchForm button {
		margin-left: 0px;
	}

	.wrapper .Card h2{
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.wrapper .Card .LearnMoreBlockWraper{
		padding-left: 25px;
		padding-right: 25px;
		justify-content: space-around;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock{
		margin-bottom: 17px;
	}

	

	.ImageBlock{
		margin: 0px;
		width: -webkit-fill-available;
	}

	
}

@media screen and (max-width: 646px) {
	
	.wrapper header img{
		display: none;
	}

	.wrapper .navBar li{
		margin-left: 20px;
	}

	.wrapper .headerAbout p{
		margin-bottom: 25px;
	}

	.wrapper .SearchForm{
		margin-left: 0px;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.wrapper .headerAbout{
		margin-top: 20px;
		margin-left: 0px;
		align-items: center;
	}

	.wrapper .headerAbout h1{
		font-size: 36px;
	}

	.wrapper .Card {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 12px;
	}

	.wrapper .Card h2{
		padding: 0;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
	}

	.wrapper .Card .LearnMoreBlockWraper{
		flex-direction: column;
		padding: 0;
		align-items: center;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock{
		max-width: 360px;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12px;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock h3{
		text-align: center;
		margin-bottom: 10px;
	}
	
	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock p{
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}

	.wrapper .Card .LearnMoreBlockWraper .LearnMoreBlock a{
		display: block;
		margin-left: 98px;
	}


	.ImageBlock p{
		bottom: 15px;
		width: inherit;
		text-align: center;
	} 

	.wrapper .TopPlaceToVisit{
		margin-left: 10px;
		margin-right: 10px;
		flex-direction: column;
	}

	.wrapper .TopPlaceToVisit h2{
		align-self: center;
		margin-bottom: 15px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer{
		margin-bottom: 25px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem{ 
		max-width: inherit;
		margin-bottom: 25px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock{
		width: inherit;
		height: auto;
		margin-bottom: 15px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem .TopPlaceImageBlock .TopPlaceImageBlockDescription{
		width: 625px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem p{
		margin-bottom: 15px;
	}

	.wrapper .TopPlaceToVisit .TopPlaceToVisitContainer .TopPlaceToVisitOneItem a{
		display: block;
		align-self: center;
	}


	.wrapper footer .footerMenuContainer .footerMenuContainerOneColumn{
		padding-right: 140px;
	}
}